<!-- {{ form.value | json }} -->

<div [formGroup]="form">
    <div class="row">
        <div class="col-12">
            <cm-question-title [form]="questionTitle"></cm-question-title>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="fill">
                <mat-label>Elige el tipo de respuesta</mat-label>
                <mat-select formControlName="answerType">
                    <mat-option *ngFor="let answerType of answerTypeOptions" [value]="answerType.value">
                        {{ answerType.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

	<!-- Single Choice -->
    <ng-container *ngIf="isSingleChoiceAnswer">
        <cm-answer-simple [form]="answer"></cm-answer-simple>
    </ng-container>

	<!-- Multi Choice -->
    <ng-container *ngIf="isMultiChoiceAnswer">
        <cm-answer-multichoice [form]="answer"></cm-answer-multichoice>
    </ng-container>

    <ng-container *ngIf="isMultiLineAnswer">
		<cm-answer-multiline [form]="answer"></cm-answer-multiline>
	</ng-container>

     <!-- (scoreCalculated)="onScoreCalculated($event)" -->
        <!-- (toggleScore)="" -->
        <!-- [totalAnswers]="totalAnswers" -->
	<cm-score-calculator *ngIf="answer"
        [form]="score"
        [allowedCalculations]="scoreCalculationForAnswer"
        (scoreCalculated)="onScoreCalculated($event)"
    ></cm-score-calculator>
</div>
