<form [formGroup]="form">
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <mat-label>Respuesta</mat-label>

                <input type="text" matInput placeholder="Escribe la respuesta" formControlName="content">
            </mat-form-field>

            <button *ngIf="allowDeletion" (click)="delete()" mat-icon-button aria-label="Delete answer">
                <mat-icon>delete_outline</mat-icon>
            </button>
        </div>
    </div>
</form>
