<exagen-alert></exagen-alert>

<mat-sidenav-container class="main-sidenav">
    <mat-sidenav #sidenav mode="over" class="p-2">
        <mat-list>
            <mat-list-item>
                <button mat-button mat-raised (click)="sidenav.close()" routerLink="/home">Home</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button mat-raised (click)="sidenav.close()" routerLink="/exam-generator">Exam Generator</button>
                <button mat-button mat-raised (click)="sidenav.close()" routerLink="/class-layout">Class Layout</button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span><button mat-button mat-flat routerLink="home">Home</button></span>
            <span class="spacer"></span>
            <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button> -->
        </mat-toolbar>

        <div class="container-fluid">
            <div class="col-12 mt-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
