<!-- {{ form.value | json }} -->

<div [formGroup]="form">
	<!-- Score Calculation Type -->
    <div class="row">
        <div class="col-12">
            <mat-radio-group aria-label="Select an option" formControlName="calculationType">
                <mat-radio-button [value]="CALCULATION_SIMPLE" [disabled]="!isCalculationAllowed(CALCULATION_SIMPLE)">
                    Puntuación Simple
                </mat-radio-button>
                <mat-radio-button [value]="CALCULATION_TOTAL" [disabled]="!isCalculationAllowed(CALCULATION_TOTAL)">
                    Calcular puntuación total
                </mat-radio-button>
                <mat-radio-button [value]="CALCULATION_INDIVIDUAL" [disabled]="!isCalculationAllowed(CALCULATION_INDIVIDUAL)">
                    Calcular puntuación de respuestas
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <!-- Simple Score Calculation -->
    <div class="row" *ngIf="isCalculationSimple">
        <div class="col-12">
            <mat-form-field>
                <mat-label>Puntuación</mat-label>

                <input type="number" matInput placeholder="Puntuación" formControlName="totalScore">
            </mat-form-field>

            <small *ngIf="totalScore > 0" class="w-100 ml-2 d-inline-block font-italic text-muted">
                Puntuación total de {{ totalScore }}
            </small>
        </div>
    </div>

    <!-- Total Score Calculation -->
    <div class="row" *ngIf="isCalculationTotal">
        <div class="col-12">
            <mat-form-field>
                <mat-label>Puntuación por respuesta</mat-label>

                <input type="number" matInput placeholder="Puntuación por respuesta" formControlName="scorePerAnswer">
            </mat-form-field>

            <small *ngIf="totalAnswers > 0 && totalScore > 0" class="w-100 ml-2 d-inline-block font-italic text-muted">
                <span>multiplicado por</span>
                <span class="mx-1">{{ totalAnswers }}</span>
                <span [ngPlural]="totalAnswers">
                    <ng-template ngPluralCase="=1">respuesta</ng-template>
                    <ng-template ngPluralCase="other">respuestas</ng-template>
                </span>
                <span class="mx-1"><mat-icon>arrow_right_alt</mat-icon></span>
                <span>puntuación total de {{ totalScore }}</span>
            </small>
        </div>
    </div>

    <!-- Answer Score Calculation -->
    <div class="row" *ngIf="isCalculationIndividual">
        <div class="col-12">
            <mat-form-field>
                <mat-label>Puntuación total</mat-label>

                <input type="number" matInput placeholder="Puntuación total" formControlName="totalScore">
            </mat-form-field>

            <small *ngIf="totalAnswers > 0 && scorePerAnswer > 0" class="w-100 ml-2 d-inline-block font-italic text-muted">
                <span>dividido entre</span>
                <span class="mx-1">{{ totalAnswers }}</span>
                <span [ngPlural]="totalAnswers">
                    <ng-template ngPluralCase="=1">respuesta</ng-template>
                    <ng-template ngPluralCase="other">respuestas</ng-template>
                </span>
                <span class="mx-1"><mat-icon>arrow_right_alt</mat-icon> {{ scorePerAnswer }}</span>
                <span>por respuesta</span>
            </small>
        </div>
    </div>
</div>
